<!DOCTYPE html>

<html ng-app="MainControllerApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Agent</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.2.0/rzslider.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.2.0/rzslider.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.2.0/rzslider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.2.0/rzslider.min.css">

</head>

<body ng-controller="MainController as vm">
    <div class="supreme-container">
        <nav class="navbar navbar-fixed-top navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <img class="margin-top-10" src="https://pbs.twimg.com/profile_images/723989800915587072/To71cp38_400x400.jpg">
                </div>

                <div class="collapse navbar-collapse row" id="bs-example-navbar-collapse-1">
                    <form name="modelSearch" ng-submit="vm.geocode()" class="row" role="search">
                        <div class="col-md-2 form-group">
                            <label>Location</label>
                            <input ng-model="vm.location" type="text" class="form-control" placeholder="Location">
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Price Range ($)</label>
                            <rzslider rz-slider-model="vm.slider.minValue" rz-slider-high="vm.slider.maxValue" rz-slider-options="vm.slider.options"></rzslider>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Height (inches)</label>
                            <rzslider rz-slider-model="vm.sliderHeight.minValue" rz-slider-high="vm.sliderHeight.maxValue" rz-slider-options="vm.sliderHeight.options"></rzslider>
                        </div>
                        <div id="radioboxs" class="col-md-3 form-group" style="margin-top: 28px;">
                            <label for="female">Female</label>
                            <input ng-model="vm.genderSelection" type="radio" name="gender" value="female" id="female">
                            <label for="male">Male</label>
                            <input ng-model="vm.genderSelection" type="radio" name="gender" value="male" id="male">
                            <div ng-model="vm.genderSelection" class="hidden"> {{vm.genderSelection}}</div>
                            <button type="submit" class="btn btn-default">Search</button>
                            <button ng-click="vm.resetSearch()" class="btn btn-primary">Reset</button>
                        </div>
                    </form>

                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div id="image-container" ng-repeat="model in vm.modelData track by $index" class="image-cont promo col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <a ng-click="vm.idParams(model.id)" data-toggle="modal" data-target="#myModal">
                        <img src="{{model.picture}}" class="img-responsive">
                        <div class="info">
                            <h4 style="float:left">{{model.first_name}} {{model.last_name}}</h4>
                            <h4 style="float: right;  margin-right: 32px; color: darkgoldenrod !important;">${{model.hour_rate}} HR</h4>
                            <h4 style="float:right; margin-right: 5px;">{{model.city_name}}</h4>
                        </div>
                     </a>
                </div>


            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <button style="color:white" ng-click="vm.reset()" type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">{{vm.specificModel.first_name}} {{vm.specificModel.last_name}}</h2>
                    <p>{{vm.specificModel.city_name}}</p>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div id="myCarousel" class="row carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                            </ol>

                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="col-lg-6 col-md-6 col-sm-6 col-xs-6" src="{{vm.specificModel.medias[0].url}}">
                                </div>
                                <div class="item">
                                    <img class="col-lg-6 col-md-6 col-sm-6 col-xs-6" src="{{vm.specificModel.medias[1].url}}">
                                </div>
                                <div class="item">
                                    <img class="col-lg-6 col-md-6 col-sm-6 col-xs-6" src="{{vm.specificModel.medias[2].url}}">
                                </div>
                                <div class="item">
                                    <img class="col-lg-6 col-md-6 col-sm-6 col-xs-6" src="{{vm.specificModel.medias[3].url}}">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 desktop-view">
                                    <div>
                                        <h3>HEIGHT: {{vm.specificModel.model.height}} inches
                                        </h3>
                                    </div>
                                    <div>
                                        <h3>WEIGHT: {{vm.specificModel.model.weight}} pounds
                                        </h3>
                                    </div>
                                    <div>
                                        <h3>TOP: {{vm.specificModel.model.bust}} MD: {{vm.specificModel.model.waist}} </h3>
                                        <h3>HIPS: {{vm.specificModel.model.hips}} </h3>
                                    </div>
                                    <div>
                                        <h3> HAIR: {{vm.specificModel.model.hair_color}} </h3>
                                        <h3>EYES: {{vm.specificModel.model.eye_color}}</h3>
                                    </div>
                                    <div>
                                        <h3> HOURLY RATE: ${{vm.specificModel.hour_rate}}</h3>
                                        <h3>FULL DAY: ${{vm.specificModel.rate}}</h3>
                                    </div>
                                    <div>
                                        <h4 class="col-lg-6 col-md-6">{{vm.specificModel.bio}}</h4>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 mobile-view">
                                    <div>
                                        <h5>HEIGHT: {{vm.specificModel.model.height}} inches
                                        </h5>
                                    </div>
                                    <div>
                                        <h5>WEIGHT: {{vm.specificModel.model.weight}} pounds
                                        </h5>
                                    </div>
                                    <div>
                                        <h5>TOP: {{vm.specificModel.model.bust}} MD: {{vm.specificModel.model.waist}} HIPS: {{vm.specificModel.model.hips}}
                                        </h5>
                                    </div>
                                    <div>
                                        <h5> HAIR: {{vm.specificModel.model.hair_color}} EYES: {{vm.specificModel.model.eye_color}}</h5>
                                    </div>
                                    <div>
                                        <h5> HOURLY RATE: ${{vm.specificModel.hour_rate}}</h5>
                                        <h5>FULL DAY: ${{vm.specificModel.rate}}</h5>
                                    </div>
                                </div>
                            </div>

                            <a class="left carousel-control active" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="hidden glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="mobile-view">
                            <p>{{vm.specificModel.bio}}</p>
                            <button style="float:right;" ng-click="vm.reset()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>
<script>
    angular.module('MainControllerApp', ['rzModule'])
        .controller('MainController', function ($http, $scope, $window) {
            var vm = this
            var n = 1

            init()
            function init() {
                vm.idParams = idParams
                vm.reset = reset
                vm.geocode = geocode
                vm.resetSearch = resetSearch
                get()
                // Initalizing the min and max values for sliders
                vm.sliderHeight = {
                    minValue: 0,
                    maxValue: 100,
                    options: {
                        floor: 0,
                        ceil: 100,
                        step: 1,
                        noSwitching: true
                    }
                }
                vm.slider = {
                    minValue: 0,
                    maxValue: 500,
                    options: {
                        floor: 0,
                        ceil: 500,
                        step: 1,
                        noSwitching: true
                    }
                }
            }

            // Binding the window with the height with the scroll so when users scrolls to the bottom more model data from the database is called 
            angular.element($window).bind("scroll", function () {
                var windowHeight = "innerHeight" in window ? window.innerHeight : document.documentElement.offsetHeight;
                var body = document.body, html = document.documentElement;
                var docHeight = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
                windowBottom = windowHeight + window.pageYOffset;
                if (windowBottom >= docHeight) {
                    n++
                    setTimeout(get(n), 1000)
                }
            })

            function get(n) {
                // The if else statement below determines which search parameters the user is utilizing to find a model
                if (vm.location && vm.genderSelection && n) {
                    var params = {
                        location: vm.location,
                        gender: vm.genderSelection,
                        page: n,
                        price_min: vm.slider.minValue,
                        price_max: vm.slider.maxValue,
                        height: vm.sliderHeight.minValue + "-" + vm.sliderHeight.maxValue
                    }
                }
                else if (vm.genderSelection && n) {
                    var params = {
                        gender: vm.genderSelection,
                        page: n,
                        price_min: vm.slider.minValue,
                        price_max: vm.slider.maxValue,
                        height: vm.sliderHeight.minValue + "-" + vm.sliderHeight.maxValue
                    }
                }
                else if (vm.location && n) {
                    var params = {
                        location: vm.location,
                        page: n,
                        price_min: vm.slider.minValue,
                        price_max: vm.slider.maxValue,
                        height: vm.sliderHeight.minValue + "-" + vm.sliderHeight.maxValue
                    }
                }
                else if (vm.slider && n) {
                    var params = {
                        page: n,
                        price_min: vm.slider.minValue,
                        price_max: vm.slider.maxValue,
                        height: vm.sliderHeight.minValue + "-" + vm.sliderHeight.maxValue
                    }
                }
                else {
                    var params = {
                        page: n
                    }
                }
                $http({
                    method: 'GET', url: 'https://api.agent.com/public/profiles',
                    headers: { 'X-Authorization': '}kpJ/}RUXG7*6qm2wM6^ZX=x3?7+&TM=' },
                    params
                })
                    .then(function (response) {
                        // If the model users array has a length of zero, then there are no more models to append to the scroll down function
                        if (response.data.users.length == 0) { }
                        else {
                            vm.modelData = response.data.users
                        }
                    })
                    .catch(function (error) {
                        console.log(error)
                    })
            }

            // Finds a specific models data and then displayed within the modal
            function idParams(id) {
                $http.get(`https://api.agent.com/public/profiles/` + id, { headers: { 'X-Authorization': '}kpJ/}RUXG7*6qm2wM6^ZX=x3?7+&TM=' } })
                    .then(function (response) {
                        vm.specificModel = response.data
                    })
                    .catch(function (error) {
                        console.log(error)
                    })
            }

            // This function is used to determine if a user searched for the model via an address (location), if yes, a geolocation object is passed to the search function. If not, then the search function is called with out a paramters
            function geocode() {
                if (vm.location) {
                    axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
                        params: {
                            address: vm.location,
                            key: 'AIzaSyCNhmcwaPsUpEObFcTxa7XhEs36oAkfJBI'
                        }
                    })
                        .then(function (response) {
                            console.log(response.data.results[0].geometry.location)
                            var coordinates = response.data.results[0].geometry.location
                            search(coordinates)
                        })
                        .catch(function (error) {
                            console.log(error)
                        })
                }
                else {
                    search()
                }
            }

            function search(coordinates) {
                // The if else statement identifies which search parameters are being used
                if (coordinates && vm.genderSelection) {
                    var params = {
                        lat: coordinates.lat,
                        lng: coordinates.lng,
                        gender: vm.genderSelection,
                        price_min: vm.slider.minValue,
                        price_max: vm.slider.maxValue,
                        height: vm.sliderHeight.minValue + "-" + vm.sliderHeight.maxValue
                    }
                }
                else if (vm.genderSelection) {
                    var params = {
                        gender: vm.genderSelection,
                        price_min: vm.slider.minValue,
                        price_max: vm.slider.maxValue,
                        height: vm.sliderHeight.minValue + "-" + vm.sliderHeight.maxValue
                    }
                }
                else if (coordinates) {
                    var params = {
                        lat: coordinates.lat,
                        lng: coordinates.lng,
                        price_min: vm.slider.minValue,
                        price_max: vm.slider.maxValue,
                        height: vm.sliderHeight.minValue + "-" + vm.sliderHeight.maxValue
                    }
                }
                else {
                    var params = {
                        price_min: vm.slider.minValue,
                        price_max: vm.slider.maxValue,
                        height: vm.sliderHeight.minValue + "-" + vm.sliderHeight.maxValue
                    }
                }
                $http({
                    method: 'GET', url: 'https://api.agent.com/public/profiles',
                    headers: { 'X-Authorization': '}kpJ/}RUXG7*6qm2wM6^ZX=x3?7+&TM=' },
                    params
                })
                    .then(function (response) {
                        vm.modelData = response.data.users
                    })
                    .catch(function (error) {
                        console.log(error)
                    })
            }

            function resetSearch() {
                vm.genderSelection = null
                vm.location = null
                vm.slider.minValue = 0
                vm.slider.maxValue = 500
                vm.sliderHeight.minValue = 0
                vm.sliderHeight.maxValue = 100
            }

            function reset() {
                vm.specificModel = null
            }


        })

</script>

  <style>
        .info h4 {
            font-family: Helvetica, Verdana;
            color: #FFF;
            z-index: 200;
        }

        .promo img {
            z-index: 1;
        }

        .info {
            background-color: rgba(0, 0, 0, 0.65);
            position: absolute;
            width: 100%;
            font-family: Verdana, Geneva, sans-serif;
            color: #FFF;
            bottom: 0px;
            z-index: 1;
        }

        .margin-top-10 {
            margin-top: 10px;
            margin-left: 6px;
            width: 30px;
            height: 30px;
        }

        .rz-bubble {
            color: white !important;
        }

        body.modal-open .supreme-container {
            -webkit-filter: blur(1px);
            -moz-filter: blur(1px);
            -o-filter: blur(1px);
            -ms-filter: blur(1px);
            filter: blur(8px);
        }

        .mobile-view {
            display: none
        }

        @media (max-width:700px) {
            .mobile-view {
                display: block
            }
            .desktop-view {
                display: none
            }
            #radioboxs {
                margin-top: 0px !important;
            }
            .image-cont {
                width: auto !important;
                height: auto !important;
            }
            .image-cont img {
                width: auto !important;
                height: auto !important;
            }
        }

        .image-cont {
            width: 400px;
            height: 500px;
        }

        .image-cont img {
            width: 100%;
            height: auto;
        }
    </style>

